In [2]:
import numpy as np
import pandas as pd

In [10]:
# Daily water intake amount data for the Songdo adults

    # Each observation: one person
    # Mean: liter per day
    # SD: liter per day
    # size: 90,000 Songdo residents installed
dat_wt=np.random.normal(loc=2.5, scale=0.3, size=90000)

In [14]:
df_wt=pd.DataFrame(dat_wt, columns=['wt_day'])
df_wt
df_wt.to_csv("water.csv")

In [12]:
# Life expectancy data

# 1. College Graduate
    # Each observation: one person
    # Mean: age of death
    # SD: 
    # size: 100,000
dat_lfexp1=np.random.normal(loc=85, scale=3.6, size=100000)
dat_lfexp1=pd.DataFrame(dat_lfexp1, columns=['age_of_death'])
dat_lfexp1.describe()

        age_of_death
count  100000.000000
mean       84.991180
std         3.606535
min        69.391574
25%        82.551637
50%        84.997834
75%        87.418460
max        99.096664

In [3]:
# Average heat of Aphone 15

    # Each observation: one Cell phone
    # Mean: heat by celsius
    # SD: heat by celsius
    # size: 500
dat_aphone=np.random.normal(loc=45, scale=2, size=500)
dat_aphone

array([43.56725859, 48.52953671, 44.23990193, 45.26612921, 41.90873846,
       46.0590075 , 43.00291334, 46.99128772, 45.1730591 , 44.02544004,
       45.76038624, 43.26320741, 43.77643808, 48.01577869, 45.40652184,
       45.63270643, 44.95072584, 40.83708045, 44.90543432, 46.68499644,
       45.46012378, 43.77701605, 48.14145791, 44.16082647, 43.63341896,
       48.08845912, 47.93513453, 44.48693093, 43.36458073, 43.20920966,
       45.26719307, 44.88781756, 45.87830312, 42.84397268, 46.34951544,
       44.53972108, 45.40548456, 39.97419563, 46.87572298, 44.22512216,
       45.4975313 , 42.13901494, 44.4177144 , 44.22916318, 44.53095082,
       44.48203689, 47.07023709, 43.86407785, 47.04199778, 45.5620636 ,
       46.05824398, 42.80475209, 46.74877294, 46.61374849, 43.76708887,
       44.8021291 , 46.22666816, 44.21053679, 46.18953504, 43.02438602,
       45.3022197 , 45.56791249, 46.83657201, 46.21232739, 42.51869722,
       46.37829068, 44.80312496, 42.9138354 , 44.69398467, 44.56343654,
       46.19774032, 46.26496119, 44.50304234, 43.48218391, 46.57873202,
       43.39838044, 46.8551199 , 43.90554128, 43.55085659, 44.22540064,
       45.002727  , 43.36173061, 49.15559776, 44.69542949, 44.38522169,
       46.64322391, 43.20575362, 41.68876486, 45.41666573, 46.83594616,
       45.28599307, 51.06534789, 46.98607871, 47.53002432, 47.19993432,
       45.1474723 , 42.76122374, 44.47800866, 47.30122213, 44.94135464,
       46.863832  , 47.03798213, 43.17821991, 41.98134994, 45.91636905,
       44.58467086, 44.2293918 , 46.53276023, 44.47519655, 47.69539126,
       45.27920075, 40.15403654, 47.62754538, 46.23616862, 46.29110818,
       46.55355468, 45.7189626 , 44.04225224, 44.67453248, 45.55361962,
       48.33107944, 44.61806616, 42.70719535, 45.95534303, 43.52931764,
       44.84647322, 44.83326186, 45.65515203, 41.22820966, 44.10754693,
       48.73538594, 44.08648811, 45.86916258, 44.30350687, 41.36613022,
       44.66085426, 44.77472468, 44.17303042, 45.30237595, 45.72058638,
       44.72417888, 47.59857372, 42.27849133, 46.56510419, 44.80569988,
       46.87670549, 47.91478403, 42.21758426, 45.47185542, 44.99843538,
       43.15405395, 46.47068576, 46.81338877, 44.46076823, 46.60423202,
       44.2341288 , 46.32185074, 45.82365136, 43.77891391, 43.94766243,
       46.33484126, 44.40299826, 50.13238473, 45.72976203, 44.84156102,
       43.4219454 , 45.37280635, 42.67804989, 45.56363239, 48.69652777,
       48.67742172, 43.38849138, 43.49275417, 40.43276475, 44.15611558,
       43.17784967, 43.74780166, 44.86909111, 47.05779773, 40.47896736,
       44.47207319, 43.46176618, 49.17533326, 45.70983669, 47.20791622,
       43.95271212, 45.26933632, 47.16598887, 46.01395177, 49.30875295,
       45.5162097 , 49.88976921, 47.3064464 , 46.37856183, 45.6285278 ,
       46.25410346, 47.43705659, 46.30250275, 48.91784959, 43.10328326,
       43.83826868, 48.89847727, 45.15275951, 45.36891884, 44.62446074,
       41.31702533, 44.40266155, 47.34775128, 42.60809612, 44.84253141,
       46.475026  , 43.98633173, 48.37629552, 49.26890159, 44.94510531,
       43.56340199, 45.34165158, 45.51131889, 46.63410315, 43.6011296 ,
       46.58099279, 43.23215471, 44.68032788, 42.33297371, 47.16134797,
       42.70938228, 44.7558748 , 48.53737482, 42.20208173, 45.05538668,
       44.81251876, 45.16267626, 48.13971596, 43.88215512, 42.72630236,
       45.66999636, 46.23351119, 46.23416113, 44.69384404, 43.59373686,
       45.11214627, 40.18665259, 48.59204033, 42.89888863, 46.91069506,
       46.69628264, 45.01299652, 43.75396592, 41.86460401, 43.60517804,
       47.00583024, 44.7652067 , 42.22737579, 42.36585724, 44.78124609,
       45.01980305, 46.5387494 , 44.94914007, 42.99351603, 44.66117772,
       46.35458907, 49.33309668, 44.7626034 , 43.79475155, 43.01992757,
       42.4229748 , 42.84683299, 49.78473248, 47.17275653, 48.17474389,
       46.23815455, 44.53237533, 42.63503899, 44.39180265, 43.41242241,
       45.65734127, 43.15978988, 48.20029497, 44.76433887, 44.94685922,
       44.43054404, 47.23423149, 46.68909971, 42.47779303, 44.28716003,
       44.21315462, 46.4282113 , 46.52824241, 44.90838746, 45.31969432,
       43.95138969, 47.18376552, 45.79398156, 47.4389349 , 43.29646449,
       44.35333432, 44.60086633, 46.07121712, 46.54744116, 48.35366006,
       44.80862995, 46.80868375, 44.91206856, 42.03629998, 45.15650024,
       49.18994689, 43.86928142, 45.2775802 , 48.34065924, 46.29528379,
       46.77725394, 46.95925874, 42.61926422, 44.25724613, 45.12194305,
       45.03838775, 44.44294314, 45.27558252, 42.52278505, 44.64708638,
       47.87762388, 47.07013029, 47.00274996, 48.64940725, 47.68433391,
       46.36997325, 44.29011121, 45.45527062, 42.39295041, 43.70678836,
       44.74204441, 47.43936838, 44.87560341, 45.69543218, 44.57505913,
       44.0822876 , 45.39965828, 44.88371648, 46.58477158, 46.06570793,
       44.69045245, 44.35501343, 44.15269816, 44.10716605, 44.01785892,
       46.48991326, 45.23320083, 40.52672026, 43.96954858, 46.57100593,
       45.02830967, 47.62582366, 42.71680796, 45.01071443, 47.00689692,
       42.32414452, 47.18181807, 48.5138001 , 43.25837224, 43.01682669,
       44.93435847, 45.18923196, 46.55107346, 39.4834326 , 47.4227857 ,
       44.80571983, 44.65333666, 47.6413021 , 43.87896718, 45.24634523,
       43.59536919, 45.16426383, 45.52621002, 46.24230579, 44.55292134,
       43.9171836 , 45.17898692, 44.07116017, 45.07746412, 45.4561928 ,
       45.22017967, 45.46144273, 41.32227631, 45.01288331, 47.00462577,
       50.17945596, 43.11423386, 42.45707849, 46.47625145, 46.63516632,
       46.91341416, 45.06930758, 45.5613334 , 42.79497033, 44.02819879,
       42.74761569, 46.27280917, 43.81764719, 46.40369203, 41.00613762,
       42.24115528, 44.29836925, 47.77112505, 45.90029993, 47.04353595,
       42.15724696, 48.35682891, 44.82901154, 47.69369425, 45.12944909,
       46.22566991, 44.87939806, 43.9248474 , 47.13297495, 46.08154225,
       47.12202605, 45.67344005, 43.22591436, 43.57672542, 42.30429083,
       46.62181514, 45.94684312, 43.07275391, 41.43596841, 46.26117204,
       43.40573907, 45.11797489, 42.79218565, 45.6667976 , 38.85750642,
       48.70517012, 44.09897321, 42.98097772, 44.29799934, 43.02296507,
       43.69096625, 43.98967812, 49.10131375, 44.71144404, 48.94715423,
       45.87344076, 44.93180456, 45.81467206, 45.78883581, 43.35306389,
       41.57505047, 46.16941722, 44.28364073, 47.33077512, 45.62472726,
       42.91780408, 42.23881911, 49.78073118, 43.92599782, 47.28177292,
       47.6760688 , 47.306907  , 43.16797846, 44.21191062, 42.86971685,
       43.81590595, 47.1364839 , 46.41594937, 45.78178991, 41.67985951,
       47.95481881, 45.80207698, 46.24101006, 45.24711937, 43.16832637,
       43.07443386, 41.76624569, 44.73905594, 43.92221356, 47.17289232,
       45.99648906, 44.12272868, 42.73155106, 46.59697467, 46.00688151,
       45.72388697, 45.69661521, 46.16472761, 44.54706999, 44.73938413,
       49.29246276, 43.67774942, 47.36645465, 45.04006979, 42.71567697,
       46.03877027, 46.27381024, 44.24889945, 42.06886194, 43.95316319,
       41.60408819, 45.04383054, 45.40887648, 43.87916462, 44.43230319])

In [11]:
df_aphone=pd.DataFrame(dat_aphone, columns=['heat'])
df_aphone=df_aphone.reset_index(drop=True)
df_aphone.to_csv("aphone.csv")

In [12]:
# Average GPA for DESB

    # Each observation: one student
    # Mean: GPA(0-4)
    # SD: GPA
    # size: 2500
dat_gpa=np.random.normal(loc=3.2, scale=0.5, size=2500)
dat_gpa

array([3.16137726, 3.01551056, 2.3616401 , ..., 3.78084312, 2.79980162,
       4.39242125])

In [13]:
df_gpa=pd.DataFrame(dat_gpa, columns=['gpa'])
df_gpa=df_gpa.reset_index(drop=True)
df_gpa.to_csv("gpa.csv")